@font-face {
    font-family: PressStart;
    src: url(PressStart.ttf);
  }

body {
    height: 100vh;
    margin: 10%;
    background-image: radial-gradient(
        #334b51, black
  );
    font: 1.0rem PressStart, monospace;
    background-repeat: no-repeat;
    text-shadow: 0 0 3px #d6d6d6;
}

header {
    margin: auto;
}

#gameover {
    margin: 50px 0 0 0 
}

h1 {
    text-align: center;
    color: #33cc33;
    font-size: 2.5em;
    padding: 50px 0 50px 0;
}

section {
    display: flex;
    margin: auto;
    width: 100%;
}

article {
    margin: auto;
}

div {
    margin: auto;
    width: 100%;
}

#start {
    background: none;
    border: 5px dashed;
    padding: 40px;
    margin: auto;
    text-align: center;
    color: whitesmoke;
    font: 1.0rem PressStart;
    text-shadow: 0 0 3px #d6d6d6;
}

#boxes {
    flex-direction: column;
}

#space {
    justify-content: space-around;
    margin: 50px;
}

a:link {
    color: #33cc33;
  }

.wrapper {
   margin: 30px; 
}

a:visited {
    color: blueviolet;
  }
  
a:hover {
    color: yellow
  }

.hide {
    visibility: hidden;
}

#questions {
    font: 1.0rem PressStart, monospace;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 3px #d6d6d6;
}

.choice {
    margin: 0 5px 0 5px;
    padding: 10px;
    background: none;
    border: 5px dashed;
    font: 1.0rem PressStart, monospace;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 3px #d6d6d6;
}

#scores {
    padding: 5px;
}

#timer {
    margin: auto;
    text-align: center;
    color: whitesmoke;
    font: 1.0rem PressStart;
    text-shadow: 0 0 3px #d6d6d6;
}

#end-screen {
    display: flex;
    flex-direction: column;
}

#clear {
    background:none; 
    border: 5px dashed;
    padding: 30px;
    grid-row: 2 / span 2;
    font: 1.0rem PressStart, monospace;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 3px #d6d6d6;
}

#goback {
    background: none;
    border: 5px dashed;
    padding: 30px;
    grid-row: grid-row: 1 / span 2;
    font: 1.0rem PressStart, monospace;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 3px #d6d6d6;
}

.feedback {
    font: 1.0rem PressStart, monospace;
    text-align: center;
    color: #33cc33;
    text-shadow: 0 0 3px whitesmoke;
}

p  {
    font: 1.0rem PressStart, monospace;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px whitesmoke;
}

ol {
    font: 1.0rem PressStart, monospace;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px whitesmoke;
}

.timer {
    font: 1.0rem PressStart, monospace;
    color: yellow;
    text-shadow: 0 0 3px whitesmoke;
}

p button {
    background: none;
    border: none;
    font: 1.0rem PressStart, monospace;
    color: white;
    text-shadow: 0 0 3px whitesmoke;
}

h2 {
    font: 1.0rem PressStart, monospace;
    color: whitesmoke;
    text-shadow: 0 0 3px whitesmoke;
}
